body {
  background-color: #FDEEEE;
}

header {
  z-index: 10;
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 20px;
  position: sticky;
  top: 20px;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #EDC3C3;
  color: #CF8E8E;
  border-radius: 90px;
  width: 90vw;
  height: 100px;
  font-family: 'Mouldy Cheese';
  font-size: 40px;
}

.header-left, .header-right {
  margin: 0 30px;
}

.main-title {
  text-align: center;
  color: #CF8E8E;
  font-size: 150px;
  font-family: 'Mouldy Cheese';
  margin-top: 40px;
}

.cards-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px; 
  padding: 20px;
}

.card {
  display: flex;
  background-color: #FDE1E1;
  border: 2px solid #CF8E8E; 
  border-radius: 15px; 
  width: 80%;
  height: auto;
  text-align: center;
  padding: 20px;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.1); 
  position: relative; 
}

.product-image {
  max-width: 40vw;
  max-height: 50vh;
  border-radius: 10px; 
  margin-bottom: 20px;
}

.product-title {
  position: absolute;
  top: 20px; /* Adjust the distance from the top */
  right: 40%; /* Position it in the middle horizontally */
  transform: translateX(50%); /* Center it horizontally */
  font-family: 'Mouldy Cheese';
  font-size: 50px;
  color: #CF8E8E;
  text-align: left;
}

.product-description {
  position: absolute;
  top: 200px; /* Adjust based on your title size and spacing */
  left: 51%; /* Ensure the text is centered and well-spaced */
  font-family: 'Mouldy Cheese', sans-serif;
  font-size: 24px;
  color: #CF8E8E;
  text-align: left; /* Center the text if it fits your design */
  margin: 10px 0; /* Add some space around */
  max-width: 500px;
}


.card button {
  position: absolute; 
  bottom: 20px; 
  right: 20%;
  transform: translateX(-50%); 
  background-color: #EDC3C3;
  color: #CF8E8E;
  border: none;
  padding: 15px 20px;
  border-radius: 10px;
  cursor: pointer;
  font-family: 'Mouldy Cheese';
  width: 240px;
  height: 60px;
  font-size: 30px;
}

.card button:hover {
  background-color: #CF8E8E; 
  color: #EDC3C3; 
}

a {
  color: #CF8E8E;
  text-decoration: none;
}

a:hover {
  color:#FDEEEE; 
  text-decoration:none; 
  cursor:pointer;  
}

@font-face {
  font-family: Mouldy Cheese;
  src: url(fonts/MouldyCheese.ttf);
}

@media (max-aspect-ratio: 1/1) {
  .header-content {
    text-align: center;
    height: auto;
    padding: 15px 0;
    font-size: 20px;
  }
  
  .header-left, .header-right {
    margin: 10px 15px;
  }

  .cards-container {
    flex-direction: column;
  }

  .card {
    width: 85vw;
    flex-direction: column;
    padding: 10px;
  }

  .product-image {
    max-width: 90vw;
    max-height: 50vh;
  }
  

  .product-title, .product-description {
    position: static;
    transform: none;
    text-align: center;
    margin: 20px 0;
  }

  .card button {
    position: static;
    margin: 0 auto;
    transform: none;
  }
}
