body {
  background-color: #FDEEEE;
}

header {
  z-index: 10;
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 2vh;
  position: sticky;
  top: 2vh;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #EDC3C3;
  color: #CF8E8E;
  border-radius: 4.5vw;
  width: 90vw;
  height: 10vh;
  font-family: 'Mouldy Cheese';
  font-size: 2.2vw;
}

.header-left, .header-right {
  margin: 0 1.5vw;
}

.main-title {
  text-align: center;
  color: #CF8E8E;
  font-size: 7.8vw;
  font-family: 'Mouldy Cheese';
  margin-top: 4vh;
}

.cards-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2vw;
  padding: 2vw;
  height: 75vh;
}

.card {
  display: flex;
  background-color: #FDE1E1;
  border: 0.2vw solid #CF8E8E;
  border-radius: 1.5vw;
  width: 80vw;
  height: auto;
  text-align: center;
  padding: 2vw;
  box-shadow: 0.2vw 0.4vw 0.8vw rgba(0,0,0,0.1);
  position: relative;
}

.card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.left-image,
.right-image {
  max-width: 40%;
  height: auto;
  margin: 50px;
}

.card button {
  position: absolute;
  bottom: 2vh;
  right: 1.5vw;
  background-color: #EDC3C3;
  color: #CF8E8E;
  border: none;
  border-radius: 1vw;
  cursor: pointer;
  font-family: 'Mouldy Cheese';
  width: 12vw;
  height: 8vh;
  font-size: 1.5vw;
}

.card button:hover {
  background-color: #CF8E8E;
  color: #EDC3C3;
}

a {
  color: #CF8E8E;
  text-decoration: none;
}

a:hover {
  color: #FDEEEE;
  text-decoration: none;
  cursor: pointer;
}

@font-face {
  font-family: Mouldy Cheese;
  src: url(fonts/MouldyCheese.ttf);
}

@media screen and (max-aspect-ratio: 1/1) {
  .header-content {
    text-align: center;
    height: auto;
    padding: 15px 0;
    font-size: 20px;
  }
  
  .header-left, .header-right {
    margin: 10px 15px;
  }

  .card {
    flex-direction: column;
    align-items: center;
  }

  .left-image,
  .right-image {
    max-width: 60%;
    height: auto;
    margin: 50px;
  }

  .left-image {
    max-width: 90%;
  }

  .card button {
    width: 30vw;
    height: 7vh;
    font-size: 3vh;
  }
}
